
.header{
    background-color: #BE3144;
    border-radius:0 0 30px 30px;
    width: 100%;
    height: 25%
   
}
.header-h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #09122C;
    font-size: 120px;  
    margin: 0px; 
    margin-bottom: 0px;
}

.header-h3{
    text-align: center;
    color: #E17564;
    font-size: 32px;
    margin: 0px;

}
.header-h4{
    text-align: right; 
    padding-right: 20px; 
    color: #872341; 
    padding-bottom: 3px; 
    font-weight: bold;
}

.rounded-box-container
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.rounded-box{
    background-color: #BE3144;
    border-radius:60px 60px 60px 60px;
    width: 1010px;
    height: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
  
}

.rounded-box-container .rounded-box:last-child
{
    border-radius:60px 0px 0px 60px;    

}

.rounded-box-container .rounded-box:first-child
{
    border-radius:0px 60px 60px 0px;    

}


body{
    background-color: #09122C;
    margin: 0px;
}


.head
{
    text-align: center;
    font-size: 58px;
    text-decoration: underline;
    color: #09122C;;   
}

ul > ul
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E17564;
}

.subhead-title
{
    color: #09122C;
    font-size: 24px;
}


#fullspan-box
{
    width: 100%;
    height: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    color: #E17564;
}

.gridbox-container
{
    margin-top: 20px;
    background-color: #BE3144;
    display: grid;
    padding: 20px;
    border-radius: 60px 60px 60px 60px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 200,200,auto;
}

@media (max-width:1000px) {
    .header-h1
    {
        text-align: center;
        font-size: 24px;
    }
    .subhead-title
    {
        font-size: 12px;
    }
    ul > ul{
        font-size: 12px;
    }

    .head
    {
        font-size: 24px;
    }
    .rounded-box
    {
        border-radius:60px 60px 60px 60px;
        width: 100%;
        height: 50%;
    }
    .rounded-box-container
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;

    }

    .rounded-box-container .rounded-box:last-child
    {
        border-radius:60px 60px 60px 60px;    

    }

    .rounded-box-container .rounded-box:first-child
    {
        border-radius:60px 60px 60px 60px;    

    }
    #fullspan-box
    {
        margin-bottom: 20px;
    }
}
